# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Logs
logs/
*.log

# Build Output
dist/
build/

# Upload Files
uploads/

# Coverage
coverage/

# Cache
.cache/

# OS Files
.DS_Store
Thumbs.db